.speckle-title::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: calc(100% - 2px);
  height: 2px;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    transparent,
    rgb(30, 174, 236),
    blue,
    rgb(30, 174, 236),
    transparent
  );
}
