.sidebar {
  border-right: 2px solid rgba(255, 255, 255, 0.05);
}

.input-container {
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.input {
  background: transparent;
}

.input:focus {
  outline: none;
}
